{% extends 'account_base.html' %}
{% block content %}
{% load static %}
<div class="container d-flex justify-content-center" style="min-height: 100vh; margin-top: 90px;margin-right: 0px;">
    <div class="login-container">
        <div class="row">
            <div>
                <div class="logo-container">
                <h1 class=" alkatra-500 " >Spesh</h1>
                </div>
            </div>
        <h2>Create an Account</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p   }}
            <button type="submit">Sign Up</button>
        </form>
</div>
{% endblock %}