@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.action{
    position: fixed;
    top:20px;
    right:30px;
}

.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 120px;
    border: 1px solid #555;
    right: -10px ;
    padding: 10px 20px;
    background-color: white;
    width: 200px;
    border-radius: 15px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    visibility: hidden;
    transition: 0.1s;
    opacity: 0;
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    color: #555;
    line-height: 1.2em;
}
.action .menu .span{
    font-size: 14px;
    color:#cecece

}


.action .menu ul li{
    list-style: none;
    padding: 10px;
    border-top: 1px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.7s;
}

.action .menu ul li:hover img{
    opacity: 1;
}

.action .menu ul li a{
    display: inline-block;
    text-decoration:None;
    color: cadetblue;
    transition: 0.7s;
}

.action .menu ul li:hover a{
    color: hotpink;
}

.action .menu.active{
    top:80px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}